#code {
  display: block;
  width: 256px;
  height: 256px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#code > img {
  border-radius: 0.5rem;
}

a {
  cursor: pointer;
}

.secondary-text {
  font-size: 0.75rem;
  color: var(--pico-muted-color);
}
